# Dependencies
node_modules/

# Build files
dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Python
__pycache__/
*.pyc
venv/
venv312/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db